.hero {
    background-image: url("../../../../public/images/pexels-jerry-wang-3768652.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;

  }
  button{
    border-radius: 5px;
    padding: 17px 30px;
    background-color: #F96147;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  button a{
    color: white;
  }
  .hero .container {
    padding-top: 15%;
  }
  .hero h1 {
    color: #fff;
    font-size: 60px;
  }
  .hero p {
    color: #ffffff;
    font-weight: bold;
  }
  form {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
  }
  form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(255, 0, 0, 0.2);
    margin-top: 5px;
    border-radius: 10px;
  }
  form span {
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
  input::placeholder {
    font-size: 17px;
    color: black;
  }
  form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
  }
  form .box:nth-child(1) {
    border-left: none;
  }
  form h4 {
    font-weight: 500;
  }
  @media screen and (max-width: 800px) {
    .hero .container {
      padding-top: 5px;
    }
    form {
      display: flex;
      flex-wrap: wrap;
    }
    form .box {
      border-left: none;
    }
    form input {
      width: 100%;
    }
  }